@page "/poolowner"

<PageTitle>PoolOwner</PageTitle>

<h1 role="status">The Pool is: @poolStatus</h1>

<button class="btn btn-primary" @onclick="TogglePoolStatus">Click me</button>

@code {
    private string poolStatus = "Closed";

    private void TogglePoolStatus()
    {
        poolStatus = poolStatus == "Closed" ? "Open" : "Closed";
    }
}

